<!DOCTYPE html>
<html lang="en" ng-app="app2">
    <head>
        <meta name="viewport" content="initial-scale=1.0, user-scalable=no">
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <!-- Meta, title, CSS, favicons, etc. -->
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <!--<meta name="viewport" content="width=device-width, initial-scale=1">-->

        <title>Weather Data</title>

        <!-- Bootstrap -->
        <link href="/vendors/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
        <!-- Font Awesome -->
        <link href="/vendors/font-awesome/css/font-awesome.min.css" rel="stylesheet">
        <!-- bootstrap-daterangepicker -->
        <link href="/vendors/bootstrap-daterangepicker/daterangepicker.css" rel="stylesheet">
        <!--Custom Theme Style-->
        <link href="/stylesheets/style.css" rel="stylesheet">
    </head>

    <body class="nav-md">
        <input type="hidden" id="user_type" value="{{type}}">
        <input type="hidden" id="user_name" value="{{username}}">
        <div class="container body">
            <div class="main_container">
                <div class="col-md-3 left_col">
                    <div class="left_col scroll-view">
                        <div class="navbar nav_title" style="border: 0;">
                            <a href="/" class="site_title">
                                <img src="images/logo.jpg" class="img-logo"> <br>
                                <span>Sanasa Insurance</span> <br>
                                <small>Weather Network</small>
                            </a>
                        </div>

                        <div class="clearfix"></div>

                        <!-- menu profile quick info -->
                        <div class="profile clearfix">
                            <div class="profile_pic">
                                <img src="images/guest.png" alt="..." class="img-circle profile_img">
                            </div>
                            <div class="profile_info">
                                <span>Welcome,</span>
                                <h2>{{name}}</h2>
                            </div>
                        </div>
                        <!-- /menu profile quick info -->

                        <br />

                        <!-- sidebar menu -->
                        <div id="sidebar-menu" class="main_menu_side hidden-print main_menu">
                            <div class="menu_section">
                                <h3>General</h3>
                                <ul class="nav side-menu">
                                    <li><a><i class="fa fa-home"></i> Home <span class="fa fa-chevron-down"></span></a>
                                        <ul class="nav child_menu">
                                            <li><a href="/">Dashboard</a></li>
                                        </ul>
                                    </li>

                                    <li><a><i class="fa fa-user"></i> Administrator <span class="fa fa-chevron-down"></span></a>
                                        <ul class="nav child_menu">
                                            <li><a href="/stations">Weather Stations</a></li>
                                        </ul>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <!-- /sidebar menu -->

                        <!-- /menu footer buttons -->
                        <div class="sidebar-footer hidden-small">
                            <a data-toggle="tooltip" data-placement="top" title="Settings">
                                <span class="glyphicon glyphicon-cog" aria-hidden="true"></span>
                            </a>
                            <a data-toggle="tooltip" data-placement="top" title="FullScreen">
                                <span class="glyphicon glyphicon-fullscreen" aria-hidden="true"></span>
                            </a>
                            <a data-toggle="tooltip" data-placement="top" title="Lock">
                                <span class="glyphicon glyphicon-eye-close" aria-hidden="true"></span>
                            </a>
                            <a data-toggle="tooltip" data-placement="top" title="Logout" href="login.html">
                                <span class="glyphicon glyphicon-off" aria-hidden="true"></span>
                            </a>
                        </div>
                        <!-- /menu footer buttons -->
                    </div>
                </div>

                <!-- top navigation -->
                <div class="top_nav">
                    <div class="nav_menu">
                        <nav>
                            <div class="nav toggle">
                                <a id="menu_toggle"><i class="fa fa-bars"></i></a>
                            </div>

                            <ul class="nav navbar-nav navbar-right">
                                <li class="">
                                    <a href="javascript:;" class="user-profile dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                                        <img src="images/guest.png" alt="">{{username}}
                                        <span class=" fa fa-angle-down"></span>
                                    </a>
                                    <ul class="dropdown-menu dropdown-usermenu pull-right">
                                        <li>
                                            <a id="log-action" href="/login">
                                                <i class="fa fa-sign-out pull-right"></i>
                                                <span id="log">Log In</span>
                                            </a>
                                        </li>
                                    </ul>
                                </li>
                            </ul>
                        </nav>
                    </div>
                </div>
                <!-- /top navigation -->

                <!-- page content -->
                <div class="right_col" role="main">
                    <div class="" ng-controller="stations">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="x_panel">
                                    <div class="x_title">
                                        <form class="form-horizontal form-label-left input_mask">
                                            <div class="col-md-12 col-sm-12 col-xs-12 form-group has-feedback">
                                                <input type="text" class="form-control has-feedback-left"
                                                       ng-model="query" ng-keyup="locationSearch($event)"
                                                       placeholder="Search Stations" id="station-search">
                                                <span class="fa fa-map-marker form-control-feedback left" aria-hidden="true"></span>
                                            </div>
                                        </form>
                                    </div>
                                    <div class="x_content">
                                        <div class="row">
                                            <div class="add_station">
                                                <button type="button" class="btn btn-primary" data-toggle="modal"
                                                        data-target="#addStationModal" id="addStationButton">
                                                    <i class="fa fa-plus" aria-hidden="true"></i> Add Station
                                                </button>
                                            </div>

                                            <!-- Modal -->
                                            <div class="modal fade" id="addStationModal" role="dialog">
                                                <div class="modal-dialog">
                                                    <!-- Modal content-->
                                                    <div class="modal-content">
                                                        <div class="modal-header">
                                                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                                                            <h4 class="modal-title">Add Station</h4>
                                                        </div>
                                                        <div class="modal-body">
                                                            <form id="station-data-form">
                                                                <div class="form-group">
                                                                    <label for="name">Name:</label>
                                                                    <input type="text" class="form-control" id="name">
                                                                </div>
                                                                <div class="form-group">
                                                                    <label for="lat">Latitude:</label>
                                                                    <input type="text" class="form-control" id="lat">
                                                                </div>
                                                                <div class="form-group">
                                                                    <label for="lon">Longitude:</label>
                                                                    <input type="text" class="form-control" id="lon">
                                                                </div>
                                                                <div class="form-group">
                                                                    <label for="email">Notify Email:</label>
                                                                    <input type="email" class="form-control" id="email">
                                                                </div>
                                                                <div class="form-group">
                                                                    <label for="phone">Notify Phone:</label>
                                                                    <input type="text" class="form-control" id="phone">
                                                                </div>
                                                                <div class="form-group">
                                                                    <label for="sim">SIM Number:</label>
                                                                    <input type="text" class="form-control" id="sim">
                                                                </div>
                                                            </form>
                                                        </div>
                                                        <div class="modal-footer">
                                                            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                                            <button type="button" class="btn btn-success" data-dismiss="modal"
                                                                    ng-click="createStation()" id="createBtn">
                                                                Create
                                                            </button>
                                                        </div>
                                                    </div>

                                                </div>
                                            </div>

                                            <div id="weather-station-data">
                                                <div ng-repeat="s in stations"
                                                     class="animated flipInY col-lg-3 col-md-3 col-sm-6 col-xs-12"
                                                     post-repeat-directive>
                                                    <div class="tile-stats">
                                                        <div class="count"><span ng-bind="s.name"></span></div>
                                                        <div>
                                                            <table>
                                                                <td>Lat: <span ng-bind="s.lat"></span></td>
                                                                <td>Lon: <span ng-bind="s.lon"></span></td>
                                                            </table>
                                                        </div>
                                                        <div>
                                                            <p>ID: <span ng-bind="s.id"></span></p>
                                                            <p>Key: <span ng-bind="s.key"></span></p>
                                                            <p>Status: <span ng-bind="s.status"></span></p>
                                                            <p>Added By: <span ng-bind="s.added_by"></span></p>
                                                            <p>Added Date: <span ng-bind="s.added_date_time"></span></p>
                                                            <p>Notify Email: <span ng-bind="s.notify_email"></span></p>
                                                            <p>Notify Phone: <span ng-bind="s.notify_phone"></span></p>
                                                            <p>SIM Number: <span ng-bind="s.sim"></span></p>
                                                        </div>
                                                        <div class="station-options">
                                                            <div class="station-data">
                                                                <button type="button" class="btn btn-default"
                                                                        data-toggle="tooltip" data-placement="bottom" title="Info"
                                                                        ng-click="go('/station/info/' + s.id)">
                                                                    <i class="fa fa-info-circle" aria-hidden="true"></i>
                                                                </button>
                                                                <button type="button" class="btn btn-default"
                                                                        data-toggle="tooltip" data-placement="bottom" title="Health"
                                                                        ng-click="go('/station/health/' + s.id)">
                                                                    <i class="fa fa-heart" aria-hidden="true"></i>
                                                                </button>
                                                            </div>
                                                            <div class="station-actions">
                                                                <button type="button" class="btn btn-default"
                                                                        data-toggle="tooltip" data-placement="bottom" title="Edit"
                                                                        ng-click="editStation(s)">
                                                                    <i class="fa fa-pencil" aria-hidden="true"></i>
                                                                </button>
                                                                <button type="button" class="btn btn-danger"
                                                                        data-toggle="tooltip" data-placement="bottom" title="Delete"
                                                                        ng-click="deleteStation(s)">
                                                                    <i class="fa fa-trash" aria-hidden="true"></i>
                                                                </button>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- /page content -->

                <!-- footer content -->
                <footer>
                    <div class="pull-right">
                        Gentelella - Bootstrap Admin Template by <a href="https://colorlib.com">Colorlib</a>
                    </div>
                    <div class="clearfix"></div>
                </footer>
                <!-- /footer content -->
            </div>
        </div>

        <!-- jQuery -->
        <script src="/vendors/jquery/dist/jquery.min.js"></script>
        <!-- Bootstrap -->
        <script src="/vendors/bootstrap/dist/js/bootstrap.min.js"></script>
        <!--Angular JS-->
        <script src="/vendors/angular-1.6.5/angular.min.js"></script>
        <!-- Custom Scripts -->
        <script src="/javascripts/stations.js"></script>
    </body>
</html>